<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUFtZ1pDSCtiTEQ3bVE5VHJqNHVyZQoxSEpEUmdvMGNRY1ArdCsyVFJrNitCWXNKb3VucnlKUnVpZXlORzJpcTU2bWtEaitGWnE1S1hFcTUvc2ZQZzZCCjNKbHZxZEtHZ0dTMmdKOW5TYkhQbTFMVFBwTWowVHZTY1pncC9ZaUFsUllHczNBWWlGQXRSSkFvNDFueDFDWHkKZUJGL01Zcng3Qm44eXRyRS9jOE4vOHdWcDg2NTc2dU56UHFJUndJVVdoamhJdzRsNmlUQkpQcnJuSXh3WGZwSQpGNDBkWlkzbG8vN2NpOXloY0Z0d014QUNMK1JkYmJOcnVqaVRqaUNTQTNVMjk2Mk5UYTEyZEFNZEg3a2lPbmVGCmNMMTE4VnhmUXF1di9uUUY0eUdUbllBODZFNnhTRXJ1Znc2amJMOWJ6L3AvaVZQU21SOVZwTFQ2T2tmNkFhTDYKaTdlNlZWb2g1SHZ1aVNuajArVGZQRW5nci8yOGtpTk5tL3g5aUtxSWhmanZHdjUwN3BSSzRyYkc2Y3pmK0kvUgpaUjlUbGtjbXVkK3lIa2JxVGhCNDA4S2tTL2ZqNUZjdlBJVDdmaVRMMkNiL3R5cWpUaFN1SEdEcHp0QXZLRHJCCnpTRWl2Q3NnZW9qN2tHQkhiRXFhZzhhZDhUNERiZ2wzK1U3bWFvTDkyakxMQWdNQkFBRT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==</data>
	<key>public-key-size</key>
	<integer>3072</integer>
	<key>signature-by</key>
	<string>Project Trident</string>
</dict>
</plist>
